John Sullivan, Cole, Jared
CSC310
2/19/2020
Assignment03

In [2]:
import pandas as pd
from sklearn import tree
from treeviz import tree_print
from sklearn.metrics import accuracy_score

In [4]:
#Necessary for reading the file, and then we're just going to peek at what's inside of it. 
tennis = pd.read_csv("tennis_numeric.csv")
tennis.head()

,outlook_sunny,outlook_overcast,outlook_rainy,temperature,humidity,windy,play
0,1,0,0,85,85,0,no
1,1,0,0,80,90,1,no
2,0,1,0,83,86,0,yes
3,0,0,1,70,96,0,yes
4,0,0,1,68,80,0,yes

In [5]:
tennisFeatures = tennis.drop(['play'], axis=1)
tennisFeatures.head()

,outlook_sunny,outlook_overcast,outlook_rainy,temperature,humidity,windy
0,1,0,0,85,85,0
1,1,0,0,80,90,1
2,0,1,0,83,86,0
3,0,0,1,70,96,0
4,0,0,1,68,80,0

In [6]:
targetDataFrame = pd.DataFrame(tennis['play'])
targetDataFrame.head()

  play
0   no
1   no
2  yes
3  yes
4  yes

In [7]:
decisionTree = tree.DecisionTreeClassifier(criterion='entropy')
decisionTree.fit(tennisFeatures, targetDataFrame)
tree_print(decisionTree, tennisFeatures)

if outlook_overcast =< 0.5:
  |then if humidity =< 82.5:
  |  |then if temperature =< 66.5:
  |  |  |then no
  |  |  |else yes
  |  |else if humidity =< 95.5:
  |  |  |then no
  |  |  |else yes
  |else yes
<------->
Tree Depth:  3

In [8]:
prediction = decisionTree.predict(tennisFeatures)      
labels = pd.DataFrame(prediction)  
labels.columns = ['play']
labels.equals(targetDataFrame)

True

In [10]:
print("Model Accuracy for the Tennis data set: {}".format(accuracy_score(targetDataFrame, prediction)))

Model Accuracy for the Tennis data set: 1.0

As you can see above, the tree we've created models the dataset with 100% accuracy.

In [5]:
caesarian = pd.read_csv("cars.csv")
caesarian.head()

   Unnamed: 0  speed  dist
0           1      4     2
1           2      4    10
2           3      7     4
3           4      7    22
4           5      8    16